.todos-list{
    background-color: #fff;
    z-index: 10;
    min-width: 35vw;
    box-shadow: 0 15px 5px 3px rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    position: relative;
    &::after, &::before{
        content: '';
        background-color: #fff;
        position: absolute;
        z-index: -1;
        border: 1px solid rgba(0, 0, 0, .3);
        height: 5px;
    }
    &::after{
        bottom: -7px;
        left: 1%;
        width: 98%;
    }
    &::before{
        bottom: -13px;
        left: 2%;
        width: 96%;
    }

    &__input{
        width: 100%;
        padding: 15px 10px;
        font-style: italic;
    }

    &__item{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        max-width: 35vw;
        word-wrap: break-word;

        &-text{
            font-family: Tahoma, sans-serif;
            font-size: 1.5vmax;

            &_completed{
                text-decoration: line-through;
                opacity: 0.3; 
            }
        }
    }

    &__empty-text{
        font-family: 'Museo', sans-serif;
        font-weight: 700;
        font-size: 2vmax;
        text-align: center;
        line-height: 5vmax;
    }
}

.todos-buttonsGroup{
    font-family: 'Museo', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3vw;

    &__quantity{
        font-size: 2vmin;
        color:rgba(0, 0, 0, .5);
    }

    &__button{
        font-size: 2vmin;
        vertical-align: middle;
        color:rgba(0, 0, 0, .5);
        margin: 0 5px;
        background-color: inherit;
        border: none;
        cursor: pointer;

        &:hover, &_active{
           border: 1px solid #D0C9D0; 
           border-radius: 10%;
        }
    }
}